/build/
/Debug/
/Release/
/Debug Library/
/Release Library/
/x86/
/x64/
.vs/
.vscode/
.DS_Store
*.exe
*.zip
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
/bin/*.lib
/bin/msdf-atlas-gen
output.png
CMakeUserPresets.json
out/
/cmake-gen.bat
config.h

# Use Makefile
cmake/
CMakePresets.json
CMakeLists.txt
msdf-atlas-gen.rc
msdf-atlas-gen/artery-font-export.h
msdf-atlas-gen/csv-export.h
msdf-atlas-gen/json-export.h
vcpkg.json
